@import "../bootstrap";

@import "../buttons";
@import "../helpers";
@import "../layout";
@import "../mixin";
@import "../typography";
@import "../variables";

// home page style
//styles for hero section
section {
    min-height: 20rem; 
}
.hero {
    border-bottom: 10px solid black;
    background: url("../../img/background_image.png") no-repeat center center;
    background-size: cover;
  
    .hamburger {
      color: #fff;
      font-size: 2rem;
      display: none;
      cursor: pointer;
  
      &:hover {
        color: blue;
      }
  
      @media (max-width: $screen-sm){
        display: block;
      }
    }
}
.logo {
    @media (max-width: $screen-sm){
        margin-top: 1rem;
      }
}
.menu-block {
    display: block;

    @media (max-width: $screen-sm){
      display: none;
      margin-right: 15px;
    }
}
.nav-item {
    display: inline-block;
    margin: 0 1rem;
    
    @media (max-width: $screen-sm){
      display: block;
    }
}
.content {
    @media (max-width: $screen-sm){
       width: 100%;
    }
    .sub-heading  {
    color: #fff;
    @media (max-width: $screen-sm){
        margin-top: 2rem;
      }
    }
    .main-heading {
    color: #fff;
    }
}
.caret {
    color: white;
}

//styles for section-development
.web-caption {
    @media (max-width: $screen-sm){
        margin-top: 1rem;
        width: 100%;
     }
}
.text-development1 {
    @media (max-width: $screen-sm){
        width: 100%;
        margin-bottom: 1rem;
     }
}
.text-development2 {
    @media (max-width: $screen-sm){
        width: 100%;
        margin-bottom: 1rem;
     }
}
.img-development {
    @media (max-width: $screen-sm){
        width: 100%;
        margin-top: 1rem;
     }
}
//styles for section-brending
.users-icon {
    max-width: 100%;
}
.img-branding {
    @media (max-width: $screen-sm){
        width: 100%;
        margin-top: 1rem;
     }
}
.branding-caption {
    @media (max-width: $screen-sm){
        margin-top: 1rem;
        width: 100%;
     }
}
.text-branding1 {
    @media (max-width: $screen-sm){
        width: 100%;
        margin-bottom: 1rem;
     }
}
.text-branding2 {
    @media (max-width: $screen-sm){
        width: 100%;
        margin-bottom: 1rem;
     }
}
//styles for section-skills
.first-col {
    margin-top: 8rem;
    margin-bottom: 6rem;
    @media (max-width: $screen-sm){
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 1rem;

     }
}
.img-person {
    top: 1rem;
    left: 4rem;
}
.img-mobile {
    top: 1.5rem;
    left: 3.5rem;
}
.img-star {
    top: 1.3rem;
    left: 3.2rem;
}
.img-web {
    top: 1.7rem;
    left: 3rem;
}
.img-animations {
    top: 2.1rem;
    left: 3.2rem;
}
.img-photography {
    top: 1.8rem;
    left: 3.4rem;
}
