@import "../bootstrap";

@import "../buttons";
@import "../helpers";
@import "../layout";
@import "../mixin";
@import "../typography";
@import "../variables";

// home page style
//styles for hero section
section {
    min-height: 20rem; 
}
.hero {
    border-bottom: 10px solid $prime;
    background: url("../../img/background_image.png") no-repeat center center;
    background-size: cover;
  
    .hamburger {
      color: $second;
      font-size: 2rem;
      display: none;
      cursor: pointer;
  
      &:hover {
        color: $third;
      }
  
      @media (max-width: $screen-sm){
        display: block;
      }
    }
}
.logo {
    @media (max-width: $screen-sm){
        margin-top: 1rem;
      }
}
.menu-block {
    display: block;

    @media (max-width: $screen-sm){
      display: none;
      margin-right: 15px;
    }
}
.nav-item {
    display: inline-block;
    margin: 0 1rem;
    
    @media (max-width: $screen-sm){
      display: block;
    }
}
.content {
    @media (max-width: $screen-sm){
       width: 100%;
    }
    .sub-heading  {
    color: $second;
    @media (max-width: $screen-sm){
        margin-top: 2rem;
      }
    }
    .main-heading {
    color: $second;
    }
}
.caret {
    color: $second;
}

//styles for section-development
.web-caption {
    @media (max-width: $screen-sm){
        margin-top: 1rem;
        width: 100%;
     }
}
.text-development1 {
    @media (max-width: $screen-sm){
        width: 100%;
        margin-bottom: 1rem;
     }
}
.text-development2 {
    @media (max-width: $screen-sm){
        width: 100%;
        margin-bottom: 1rem;
     }
}
.img-development {
    @media (max-width: $screen-sm){
        width: 100%;
        margin-top: 1rem;
     }
}
//styles for section-brending
.users-icon {
    max-width: 100%;
}
.img-branding {
    @media (max-width: $screen-sm){
        width: 100%;
        margin-top: 1rem;
     }
}
.branding-caption {
    @media (max-width: $screen-sm){
        margin-top: 1rem;
        width: 100%;
     }
}
.text-branding1 {
    @media (max-width: $screen-sm){
        width: 100%;
        margin-bottom: 1rem;
     }
}
.text-branding2 {
    @media (max-width: $screen-sm){
        width: 100%;
        margin-bottom: 1rem;
     }
}
//styles for section-skills
.first-col {
    margin-top: 8rem;
    margin-bottom: 6rem;

    @media (max-width: $screen-sm){
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 1rem;

    }
}
.img-person {
    top: 1rem;
    left: 4rem;
}
.img-mobile {
    top: 1.5rem;
    left: 3.5rem;
}
.img-star {
    top: 1.3rem;
    left: 3.2rem;
}
.img-web {
    top: 1.7rem;
    left: 3rem;
}
.img-animations {
    top: 2.1rem;
    left: 3.2rem;
}
.img-photography {
    top: 1.8rem;
    left: 3.4rem;
}
//styles for section-clients
.clients-caption {
    @media (max-width: $screen-md){
        width: 100%;
        margin-top: 1rem;
    }
}
.carousel-box {
    width: 70rem;
    height: 40rem;
    margin: 0 auto;
    @media (max-width: $screen-md){
        width: 100%;
    }
}
.carousel-control {
    width: 5rem;
}
.img-carousel {
    width: 20rem;
    height: 20rem;
    margin-left: 5rem;
    border-radius: 50%;
}
.item {
    @media (max-width: $screen-md){
        width: 100%;
        margin-top: 1rem;
    } 
}
.fa-3x {
    margin-top: 17rem;
}
